.f-section {
    background-color: $raisin-black;
    color: $silver-chalice;
    a {
        color: $silver-chalice;
    }
    .container {
        height: 100%;
    }
    &__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    &__item {
        padding-right: 2em;
    }
    &__copyright {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

@media screen and (min-width: 791px) {
    .f-section {
        &__items {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        &__copyright {
            -ms-grid-column-align: end;
            justify-self: end;
        }
    }
}