.container {
    width: 80%;
    margin: 0 auto;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 1fr 1fr 109px;
    grid-template-rows: 0.5fr 1fr 1fr 109px;
}

.grid-container>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.grid-container>*:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.grid-container>*:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.grid-container>*:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}

.row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 70px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3em;
}

.row>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.row>*:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.f-section__container {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
}

.f-section__container>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.f-section__container>*:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

@media screen and (min-width: 791px) {
    .grid-container {
        -ms-grid-rows: 1.4fr 1fr 1fr 109px;
        grid-template-rows: 1.4fr 1fr 1fr 109px;
    }
    .row {
        -ms-grid-columns: 1fr 70px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }
    .row>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .row>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .f-section__container {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }
    .f-section__container>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .f-section__container>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}