.navigation {
    position: fixed;
    background-color: $white;
    width: 100%;
    z-index: 2;
    &__d-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    &__logo {
        position: absolute;
        padding: 2em 1em 2em 0;
    }
    &__collapsible {
        text-align: right;
        padding: 2em 0;
        width: 100%;
        .menu {
            font-size: 1.8rem;
            display: block;
        }
    }
    #menu {
        display: none;
    }
    &__container {
        max-height: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        background-color: white;
        z-index: 2;
    }
    &__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    &__item {
        padding: .5em 0;
        border-bottom: solid 1px $spanish-gray;
        width: 100%;
        text-align: center;
    }
    &__link {
        color: $raisin-black;
    }
    &__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        a {
            margin: 0.5em 0;
        }
    }
}

@media only screen and (min-width: 730px) {
    .navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        &__logo {
            position: static;
            padding: 2em 1em 2em 0;
        }
        &__collapsible {
            width: 100%;
            clear: right;
            padding: 0;
            .menu {
                display: none;
            }
        }
        &__container {
            max-height: 100%;
            padding: 2em;
            overflow: visible;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        &__container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 2em 0;
        }
        &__items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        &__item {
            padding: 0;
            padding-right: 1em;
            border: none;
            width: initial;
            text-align: left;
        }
        &__buttons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            a {
                margin: 0;
                margin-left: 1em;
            }
        }
    }
}